<!DOCTYPE html>
<html>
<head>
    <title>BIENVENIDOS A TRAILERFLIX</title>
</head>
<body>
    <!--Boton de catalogo-->
    <p>Un mundo lleno de series y pelicula AGARRA LOS POCHOLOS !</p>
    <a href="/catalogo">
        <button>Ver Catálogo</button>
      <!-- Barra de búsqueda -->
    <form action="/buscar" method="get">
        <input type="text" name="q" placeholder="Buscar">
        <button type="submit">Buscar</button>
    </form>
                <a href="">Inicio</a>
                 <a href="/">
        <button class="button"> Volver a HOME </button>

        </a>
				<a href="#">Titulos</a>
				<a href="#">categoria</a>
				<a href="#">Actor/actriz</a>
				<a href="#">Mi lista</a>
    </a>
</body>
</html>
