<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>BIENVENIDOS A TRAILERFLIX</title>
</head>
<body>
    <!-- catalogo -->
    <p>Un mundo lleno de series y películas ¡AGARRA LOS POCHOLOS!</p>
    <a href="/catalogo">
        <button>Ver Catálogo</button>
    </a>
    
    <!-- búsqueda -->
    <form action="/buscar" method="get">
        <input type="text" name="q" placeholder="Buscar">
        <button type="submit">Buscar</button>
    </form>
    
    <!-- página de inicio -->
    <a href="/inicio">Inicio</a>
    
    <!-- página raíz -->
    <a href="/">
        <button class="button">Volver a Inicio</button>
    </a>
    
    <!-- otros -->
    <a href="#">Títulos</a>
    <a href="#">Categoría</a>
    <a href="#">Actor/Actriz</a>
    <a href="#">Mi lista</a>
</body>
</html>


