<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>BIENVENIDOS A TRAILERFLIX</title>
</head>

<!--imagen de fondo-->
<body class="background-image">
    
    <!--leyenda-->
    <div class="center-text">
        <p>Un mundo lleno de series<br>y películas</p>
        <p class="exclamacion">¡AGARRA LOS<br>POCHOCLOS!</p>
      </div>
      

      <!--Boton atalogo-->
    <a href="/catalogo">
    <button class="catalog-button">Ver Catálogo</button>
    </a>
    
    <!-- boton inicio -->
    <a href="/inicio">
        <button class="inicio-button">Ir a inicio</button>
    </a>
    
 <!-- Botones en la parte inferior izquierda -->
  <div class="bottom-buttons">
    <a href="#">Títulos</a>
    <a href="#">Categoría</a>
    <a href="#">Actor/Actriz</a>
  </div>
  
   <!--conectamos a app.js-->
  <script src="app.js"></script>

</body>
</html>


